name: Publish Package to npm

on:
    push:
        tags:
            - "v*.*.*" # triggers on tags like v1.0.0
    workflow_dispatch: # allows manual trigger from GitHub UI

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write # Required for OIDC
        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org/
                  scope: "@youmtinet" # Your npm scope
                  always-auth: true

            # Authenticate via OIDC
            - run: npm whoami
              env:
                  NODE_AUTH_TOKEN: ${{ steps.setup-node.outputs.node-auth-token }}

            - run: npm publish --access public
